<%= form_tag('/search', :method => "get", :remote => true, :class => "search") do %>

	<div class="form-group">
		<%= label_tag 'print_method' %>
		<%= select_tag 'print_method_id', options_for_select(print_methods), {"ng-model" => "data.print_method_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'ink_colors' %>
		<%= select_tag 'ink_color_id', options_for_select(ink_colors), {"ng-model" => "data.ink_color_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'bleeds' %>
		<%= select_tag 'bleed_id', options_for_select(bleeds), {"ng-model" => "data.bleed_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'raised_inks' %>
		<%= select_tag 'raised_ink_id', options_for_select(raised_inks), {"ng-model" => "data.raised_ink_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'dimensions' %><a class="edit-menu" href="/dimensions">Edit</a>
		<%= select_tag 'dimension_id', options_for_select(dimensions), {"ng-model" => "data.dimensions_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'paper_types' %><a class="edit-menu" href="/paper_types">Edit</a>
		<%= select_tag 'paper_type_id', options_for_select(paper_types), {"ng-model" => "data.paper_type_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'coatings' %><a class="edit-menu" href="/coatings">Edit</a>
		<%= select_tag 'coating_id', options_for_select(coatings), {"ng-model" => "data.coating_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'quantities' %><a class="edit-menu" href="/quantities">Edit</a>
		<%= select_tag 'quantity_id', options_for_select(quantities), {"ng-model" => "data.quantity_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'box_counts' %><a class="edit-menu" href="/box_counts">Edit</a>
		<%= select_tag 'box_count_id', options_for_select(box_counts), {"ng-model" => "data.box_count_id", "class" => "form-control"} %>
	</div>

	<div class="form-group">
		<%= label_tag 'metals' %><a class="edit-menu" href="/metals">Edit</a>
		<%= select_tag 'metal_id', options_for_select(metals), {"ng-model" => "data.metal_id", "class" => "form-control"} %>
	</div>

	<br>

	<%= submit_tag 'Search', class: "btn btn-primary btn-block" %>

	<h3>Selling Price: 
		<span class="price-info">
			<span class="price"></span>
		</span>
	</h3>

	<h3>Production Cost: 
		<span class="price-info">
			<span class="cost"></span>
		</span>
	</h3>

	<h3>Overhead: 
		<span class="price-info">
			<span class="overhead"></span>
		</span>
	</h3>

	<div class="margin-line"></div>

	<h3>Margin: 
		<span class="price-info">
			<span class="margin"></span>
		</span>
	</h3>

<% end %>
















