<h1 class="main-header">Listing Coatings</h1>

<table class="table index-tables">
  <tbody>
    <% @coatings.each do |coating| %>
      <tr>
        <td><%= coating.front %> / <%= coating.back %></td>
        <td class="text-right"><span><%= link_to 'Edit', edit_coating_path(coating) %> <%= link_to 'Delete', coating, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'New Coating', new_coating_path, method: :get, class: "btn-style" %>
