<%= form_for(@box_count) do |f| %>
  <% if @box_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_count.errors.count, "error") %> prohibited this box_count from being saved:</h2>

      <ul>
      <% @box_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :box_count %><br>
    <%= f.text_field :box_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
