<p id="notice"><%= notice %></p>

<h1>Listing Metals</h1>

<table>
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metals.each do |metal| %>
      <tr>
        <td><%= metal.front %></td>
        <td><%= metal.back %></td>
        <td><%= link_to 'Show', metal %></td>
        <td><%= link_to 'Edit', edit_metal_path(metal) %></td>
        <td><%= link_to 'Destroy', metal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metal', new_metal_path %>
