<%= form_for(@paper_type) do |f| %>
  <% if @paper_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper_type.errors.count, "error") %> prohibited this paper_type from being saved:</h2>

      <ul>
      <% @paper_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :thickness %><br>
    <%= f.text_field :thickness %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
